body {
  padding: 0;
  margin: 0;
}
/* hero image*/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("HeroImage.jpeg");

  /* Set a specific height */
  height: 100px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px;
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;

  border-radius: 4px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text,
.container {
  padding: 2px 16px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  align-content: space-around;
  margin-bottom: 0 !important;
}
#movie-details {
  display: flex;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 4rem 16rem;

  margin: 20px 20px 20px 20px;
  align-items: stretch;
}
#movie-name {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#search {
  padding: 5px 10px;
}
body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: "Roboto", sans-serif;
}
/* search bar */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#movie-name {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

#search {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  text-align: right;
  font-size: 25px;
}
nav ul li {
  display: inline;
  margin-left: 40px;
}
title {
  color: white;
}
.container {
  border: solid black 4px;
  border-radius: 10px;
}

/* media queries */
/* Mobile media query*/
@media screen and (max-width: 425px) {
  .movies-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  #movie-details {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
}
/* tablet media query*/
@media screen and (max-width: 768px) and (min-width: 426px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 30px;
  }
  #movie-details {
    margin: 0;
    padding: 8px;
  }
}
